.up{
    width: 300px;
    height: 100px;
    background-color: rgb(209, 54, 54);
    border-radius: 10px 10px 0px 0px;
}
.down{
    background-color: rgb(214, 214, 214);
    width: 300px;
    height: 200px;   
}

hr{
    border: solid 1px #000000;
}

.icon{
    background-color: rgba(58, 58, 58, 0.274);
}